<nav class="bg-gradient-to-r from-purple-500 to-blue-600 flex items-center justify-between p-4 shadow-lg">
    <!-- Logo Section -->
    <div class="flex items-center">
        <img class="h-10 w-10 mr-4" src="./Users/Mimansha/OneDrive/Documents/GitHub/P2E_project/images/p2e_logo.png" alt="Logo" > <!-- Adjust logo size here -->
        <a href="/" class="text-white font-bold text-xl">P2E: Podcast to Ebook Converter</a>
    </div>

    <!-- Navigation Links -->
    <ul class="flex space-x-6">
        {% if session.is_logged_in %}
        <li class="nav-item">
            <a class="text-white font-semibold hover:bg-white hover:text-blue-500 px-4 py-2 rounded transition duration-300" href="/upload">Upload</a>
        </li>
        <li class="nav-item">
            <a class="text-white font-semibold hover:bg-white hover:text-blue-500 px-4 py-2 rounded transition duration-300" href="/ebooks">Ebooks</a>
        </li>
        <li class="nav-item">
            <a class="text-white font-semibold hover:bg-white hover:text-blue-500 px-4 py-2 rounded transition duration-300" href="/list">List Audio</a>
        </li>
        <li class="nav-item">
            <a class="text-white font-semibold hover:bg-white hover:text-blue-500 px-4 py-2 rounded transition duration-300" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="text-white font-semibold hover:bg-white hover:text-blue-500 px-4 py-2 rounded transition duration-300" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="text-white font-semibold hover:bg-white hover:text-blue-500 px-4 py-2 rounded transition duration-300" href="/login">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>
